<html>
<head>
	<title> Profile </title>
</head>

<body ng-controller="profileController">
<h1>inventar.js</h1>
<div class="bottom">	
	<div class="col" >	
		<div class="print1">
		Ime:			<input type="text" ng-model="profile.ime"><span style="display:inline-block; width: 60px;"></span> <br><br>
		Prezime:		<input type="text" ng-model="profile.prezime"><span style="display:inline-block; width: 60px;"></span> <br><br>
		Dob:			<input type="number" ng-model="profile.dob"><span style="display:inline-block; width: 60px;"></span> <br><br>
		Inventar:		<input type="text" ng-model="inventarInp"><span style="display:inline-block; width: 6px;"></span>
		<button ng-click="addToArray()"> Dodaj</button> <br>
		</div>
	</div>

	<div class="col">
		<div class="print2">	
				Vase ime je {{profile.ime}} {{profile.prezime}} i imate 
				{{profile.dob}} godina.<br><br><br>	
				Ovo su stvari u vasem inventaru :
				<ul>				
					<li ng-repeat="item in profile.items track by $index">
						{{item}}
					</li>
				</ul>
		</div>
	</div>
</div>
</body>
</html>